<a href="https://colab.research.google.com/github/sramprakashs/MypythonLearning/blob/main/Day3_Operators_Expressions_Input_Output.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Simple Interest Calculator

# Take user input
principal = float(input("Enter the principal amount: ₹ "))
rate = float(input("Enter the rate of interest (%): "))
time = float(input("Enter the time period (in years): "))

# Calculate simple interest
simple_interest = (principal * rate * time) / 100

# Display the result
print(f"\nSimple Interest = ₹ {simple_interest:.2f}")

Enter the principal amount: ₹ 100000
Enter the rate of interest (%): 6
Enter the time period (in years): 2

Simple Interest = ₹ 12000.00

In [2]:
a = 10
b = 5
print(a - b)  # Output: 5

5

In [3]:
a = 10
b = 5
print(a * b)  # Output: 50

50

In [4]:
a = 10
b = 5
print(a / b)  # Output: 2.0

2.0

In [5]:
a = 10
b = 3
print(a // b)  # Output: 3

3

In [6]:
a = 10
b = 3
print(a % b)  # Output: 1

1

In [7]:
a = 2
b = 3
print(a ** b)  # Output: 8

8

In [8]:
x = 10
print(x)  # Output: 10

10

In [9]:
x = 10
x += 5
print(x)  # Output: 15

15

In [10]:
x = 10
x -= 3
print(x)  # Output: 7

7

In [12]:
x = 10
x -= 3
print(x)  # Output: 7

7

In [13]:
x = 4
x *= 2
print(x)  # Output: 8

8

In [14]:
x = 10
x /= 2
print(x)  # Output: 5.0

5.0

In [15]:
x = 10
x //= 3
print(x)  # Output: 3

3

In [16]:
x = 10
x %= 3
print(x)  # Output: 1

1

In [17]:
x = 2
x **= 3
print(x)  # Output: 8

8

In [18]:
x = 5
y = 5
print(x == y)  # True

True

In [19]:
x = 5
y = 3
print(x != y)  # True

True

In [20]:
x = 10
y = 7
print(x > y)  # True

True

In [21]:
x = 4
y = 9
print(x < y)  # True

True

In [22]:
x = 6
y = 6
print(x >= y)  # True

True

In [23]:
x = 3
y = 5
print(x <= y)  # True

True

In [24]:
x = 5
y = 10

if x > 0 and y > 0:
    print("✅ Both numbers are positive.")

✅ Both numbers are positive.

In [25]:
x = -5
y = 10

if x > 0 or y > 0:
    print("✅ At least one number is positive.")

✅ At least one number is positive.

In [26]:
is_raining = False

if not is_raining:
    print("☀️ It's not raining. You can go outside!")

☀️ It's not raining. You can go outside!

In [27]:
a = 5      # 0101
b = 3      # 0011
print(a & b)  # Output: 1 (0001)

1

In [28]:
a = 5      # 0101
b = 3      # 0011
print(a | b)  # Output: 7 (0111)

7

In [30]:
a = 5      # 0101
b = 3      # 0011
print(a ^ b)  # Output: 6 (0110)

6

In [31]:
a = 5      # 0101
b = 3      # 0011
print(a & b)  # Output: 1 (0001)

1

In [32]:
a = 5      # 0101
b = 3      # 0011
print(a | b)  # Output: 7 (0111)

7

In [33]:
a = 5      # 0101
b = 3      # 0011
print(a ^ b)  # Output: 6 (0110)

6

In [34]:
a = 5      # 0101
print(~a)  # Output: -6

-6

In [35]:
a = 5      # 0101
print(a << 1)  # Output: 10 (1010)

10

In [36]:
a = 5      # 0101
print(a >> 1)  # Output: 2 (0010)

2

In [37]:
# 🧭 Identity Operator: is
a = 100
b = 100
print(a is b)  # True, both refer to the same memory location (small integers are cached)

# 🧭 Identity Operator: is not
x = [1, 2, 3]
y = [1, 2, 3]
print(x is not y)  # True, different objects even though values are the same

# 🧭 Identity Operator: is with None
name = None
print(name is None)  # True, commonly used to check for null-like values

# 🧭 Identity Operator: is with same reference
list1 = [4, 5, 6]
list2 = list1
print(list1 is list2)  # True, both point to the same object

# 🧭 Identity Operator: is not with strings
str1 = "hello"
str2 = "hello"
print(str1 is not str2)  # False, Python interns small strings so they share memory

True
True
True
True
False

In [38]:
# 📦 1. Membership Operator: in with List
fruits = ["apple", "banana", "orange"]
print("banana" in fruits)  # True

True

In [39]:

# 📦 2. Membership Operator: not in with List
print("grape" not in fruits)  # True

True

In [40]:
# 📦 3. Membership Operator: in with String
message = "Welcome to Python!"
print("Python" in message)  # True

True

In [41]:
# 📦 4. Membership Operator: not in with String
print("Java" not in message)  # True

True

In [42]:
# 📦 5. Membership Operator: in with Tuple
colors = ("red", "green", "blue")
print("green" in colors)  # True

True

In [43]:
# 📦 6. Membership Operator: not in with Tuple
print("yellow" not in colors)  # True

True

In [44]:
# 📦 7. Membership Operator: in with Set
numbers = {1, 2, 3, 4, 5}
print(3 in numbers)  # True

True

In [45]:
# 📦 8. Membership Operator: not in with Set
print(6 not in numbers)  # True

True

In [46]:
# 📦 9. Membership Operator: in with Dictionary (checks keys only)
person = {"name": "Ram", "age": 25}
print("name" in person)  # True

True

In [47]:
# 📦 4. Membership Operator: not in with String
print("Java" not in message)  # True

True

In [48]:
# 📦 5. Membership Operator: in with Tuple
colors = ("red", "green", "blue")
print("green" in colors)  # True

True

In [49]:
# 📦 5. Membership Operator: in with Tuple
colors = ("red", "green", "blue")
print("green" in colors)  # True

True

In [50]:
# 📦 6. Membership Operator: not in with Tuple
print("yellow" not in colors)  # True

True

In [51]:
# 📦 7. Membership Operator: in with Set
numbers = {1, 2, 3, 4, 5}
print(3 in numbers)  # True

True

In [52]:

# 📦 8. Membership Operator: not in with Set
print(6 not in numbers)  # True

True

In [54]:
# 📦 9. Membership Operator: in with Dictionary (checks keys only)
person = {"name": "Ram", "age": 25}
print("name" in person)  # True

True

In [55]:
# 📦 9. Membership Operator: in with Dictionary (checks keys only)
person = {"name": "Ram", "age": 25}
print("name" in person)  # True

True