<a href="https://colab.research.google.com/github/sramprakashs/MypythonLearning/blob/main/Day_5_Loops_for_while_range.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Print numbers from 1 to 5
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [2]:
# Print numbers from 1 to 5 using while loop
i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

In [3]:
rows = 5
for i in range(1, rows + 1):
    print("* " * i)

*
* *
* * *
* * * *
* * * * *

In [4]:
# Pattern Practice: Right-Angled Triangle
rows = 5
for i in range(1, rows + 1):
    print("* " * i)

*
* *
* * *
* * * *
* * * * *

In [6]:
# Ask how many numbers to input
count = int(input("How many numbers do you want to process? "))

for i in range(count):
    num = int(input(f"Enter number {i + 1}: "))
    total = 0

    while num > 0:
        digit = num % 10
        total += digit
        num //= 10

    print(f"Sum of digits: {total}\n")

How many numbers do you want to process? 5
Enter number 1: 56
Sum of digits: 11

Enter number 2: 36
Sum of digits: 9

Enter number 3: 45
Sum of digits: 9

Enter number 4: 23
Sum of digits: 5

Enter number 5: 89
Sum of digits: 17

In [7]:
# Print multiplication table from 1 to 5
for i in range(1, 6):
    for j in range(1, 6):
        print(f"{i} x {j} = {i * j}")
    print()  # Blank line after each row

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25

In [8]:
# Print a triangle of stars
rows = 5
for i in range(1, rows + 1):
    for j in range(i):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [9]:
# Print elements of a 2D list
matrix = [[1, 2], [3, 4], [5, 6]]
for row in matrix:
    for item in row:
        print(item, end=" ")
    print()

1 2
3 4
5 6

In [10]:
# Combine items from two lists , Pairwise Combinations
colors = ["red", "green"]
shapes = ["circle", "square"]

for color in colors:
    for shape in shapes:
        print(f"{color} {shape}")

red circle
red square
green circle
green square

In [11]:
# Create a list of lists using nested loops
nested_list = []
for i in range(3):
    inner = []
    for j in range(2):
        inner.append(i + j)
    nested_list.append(inner)

print(nested_list)  # Output: [[0, 1], [1, 2], [2, 3]]

[[0, 1], [1, 2], [2, 3]]

In [12]:
# üîÅ Repeat asking for name until user types 'quit'

while True:
    name = input("Enter your name (or type 'quit' to exit): ")
    if name.lower() == "quit":
        print("üëã Exiting the program. Goodbye!")
        break
    else:
        print(f"Hello, {name}! Nice to meet you.\n")

Enter your name (or type 'quit' to exit): prakash
Hello, prakash! Nice to meet you.

Enter your name (or type 'quit' to exit): quit
üëã Exiting the program. Goodbye!

In [13]:
# üìÑ List of numbers
numbers = [10, 20, 30, 40, 50]

# üîÅ Using enumerate to access index and value
for index, value in enumerate(numbers):
    print(f"Index {index}: Value {value}")

Index 0: Value 10
Index 1: Value 20
Index 2: Value 30
Index 3: Value 40
Index 4: Value 50

In [14]:
# List of numbers
numbers = [1, 3, 5, 7, 9, 11]

# Loop through the list
for num in numbers:
    print(f"Checking {num}...")
    if num == 7:
        print("üéØ Number 7 found! Breaking out of the loop.")
        break

Checking 1...
Checking 3...
Checking 5...
Checking 7...
üéØ Number 7 found! Breaking out of the loop.

In [15]:
# Loop from 1 to 10
for num in range(1, 11):
    if num == 5:
        continue  # Skip this iteration if number is 5
    print(num)

1
2
3
4
6
7
8
9
10

In [16]:
# üî¢ Function to Sum Elements in a List Using a for Loop

def sum_list_elements(numbers):
    total = 0
    for num in numbers:
        total += num
    return total

# ‚úÖ Example usage
sample_list = [10, 20, 30, 40]
result = sum_list_elements(sample_list)
print("Sum of list elements:", result)

Sum of list elements: 100

In [17]:
# üîÅ Multiplication Table for Numbers 1 to 3 Using Nested for Loops

for i in range(1, 4):         # Outer loop for numbers 1 to 3
    for j in range(1, 11):    # Inner loop for multiplying 1 to 10
        print(f"{i} x {j} = {i * j}")
    print()  # Add a blank line after each table

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [25]:
# Start from the number just above 100
num = 104

# Infinite loop until we find a prime
while True:
    is_prime = True

    # Check for factors from 2 to sqrt(num)
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            is_prime = False
            break

    if is_prime:
        print(f"‚úÖ The first prime number greater than 100 is: {num}")
        break
    else:
        num += 1

‚úÖ The first prime number greater than 100 is: 107

In [27]:
# üîÅ for loop with else block ‚Äî prints confirmation if loop completes without break

numbers = [1, 3, 5, 7]

for num in numbers:
    print(f"Processing number: {num}")
    if num == 8:
        print("Found number 8 ‚Äî breaking out of loop.")
        break
else:
    print("‚úÖ All numbers processed without interruption.")

Processing number: 1
Processing number: 3
Processing number: 5
Processing number: 7
‚úÖ All numbers processed without interruption.

In [28]:
r = range(1000000)
print(type(r))  # <class 'range'>

<class 'range'>

In [30]:
# Inefficient: creates a full list in memory
numbers = list(range(1000000))

In [32]:
# Efficient: generates numbers one at a time
for i in range(1000000):
    pass

In [33]:
# Inefficient: creates a full list in memory
numbers = list(range(1000000))